<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold text-info">
        Task App
      </a>

      <form action="/dashboard/search" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="searchTerm">

      </form>
      

      <div class="col-md-3 text-end">
        <a href="/logout" class="btn btn-outline-primary me-2">Logout</a>
      </div>
    </header>
  </div>