<div class="container">
    
    <h1 class="heading-top">
        <span>Contact</span> Me
    </h1>

        
        <div class="contact">
            <h3>Email Us</h3>

            <form action="/dashboard/message" method="post">
                <div>
                    <label for="">
                        Name
                        <input type="text" name="name" required>
                    </label>
                </div>
                <div>
                    <label for="">
                        Companiya
                        <input type="text" name="company" required>
                    </label>
                </div>
                <div>
                    <label for="">
                        Email Address
                        <input type="email" name="email" required>
                    </label>
                </div>
                <div>
                    <label for="">
                        Phone Number
                        <input type="tel" name="phone" required>
                    </label>
                </div>
                <div>
                    <label for="">
                        Message
                        <textarea name="message" id="" rows="5"></textarea>
                    </label>
                </div>

                <div>
                    <button type="submit">Submit</button>
                </div>
                <li class="breadcrumb-item"><a class="text-light text-decoration-none" href="/dashboard">Ortga qaytishni hohlaysizmi </a></li>
            </form>
            
        </div>
    </div>
</div>