<style>
    .boxs{
        width: 100%;
        height: 60vh;
    }
    .back-link{
        color: brown;
        font-weight: bold;
    }
    .heading-top{
        color: blue;
    }
</style>
<div class="boxs">
    <div class="container">
        <h1 class="heading-top">Your Message is sent</h1>
    
        <a href="/dashboard" class="back-link">Ortga qaytish</a>
    </div>
</div>