<div class="container">
    <h1 class="text-center my-5 about_h1">About</h1>
    <p class="text-center my-5 about_p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore molestias dolorum quibusdam doloribus, deleniti itaque ducimus, laboriosam accusamus minus quae alias beatae ipsa corrupti! Laboriosam perspiciatis rem molestiae ut modi.</p>
</div>