<div class="container container-fluid mb-1 py-md-1">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-md-0 mb-5" >
                <h2 class="display-6 fw-bold mb-4 text-light">
                    Remember to write down Task whenneeded!
                </h2>
                <p class="fs-4 mb-4 text-light">
                    Tasks is a simple to use free note taking app made with Node.JS, EJS & MongoDb
                </p>
                <a href="/auth/google" class="btn btn-primary">Try it's Free</a>
            </div>
        </div>
    </main>
</div>